/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// CONFIG
#define COMBO_TIMEOUT 30
#define COMBO_LAYERS 5
#define STICKY_TIMEOUT 500

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <200>;
    flavor = "hold-preferred";
};

&caps_word {
    continue-list = <UNDERSCORE MINUS>, <BACKSPACE>, <DELETE>;
};

&sk {
    release-after-ms = <STICKY_TIMEOUT>;
    quick-release;
};

#define AS(keycode) &as LS(keycode) keycode

// LAYERS
#define AL1 0
#define AL2 1
#define NUM 2
#define NAV 3
#define FUN 4
#define TAI 5

// LEFT SIDE
#define TLI 3  // TOP
#define TLM 2  // TOP
#define TLR 1  // TOP
#define TLP 0  // TOP
#define BLI 11 // BOTTOM
#define BLM 10 // BOTTOM
#define BLR 9  // BOTTOM
#define BLP 8  // BOTTOM
#define LOT 17 // O-THUMB
#define LIT 16 // I-THUMB

// RIGHT SIDE
#define TRI 4  // TOP
#define TRM 5  // TOP
#define TRR 6  // TOP
#define TRP 7  // TOP
#define BRI 12 // BOTTOM
#define BRM 13 // BOTTOM
#define BRR 14 // BOTTOM
#define BRP 15 // BOTTOM
#define ROT 18 // O-THUMB
#define RIT 19 // I-THUMB

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <30>;
            key-positions = <LIT LOT>;
            bindings = <&kp ESC>;
            layers = <AL1 AL2 NUM NAV FUN>;
        };

        combo_enter {
            timeout-ms = <30>;
            key-positions = <ROT RIT>;
            bindings = <&kp ENTER>;
            layers = <AL1 AL2 NUM NAV FUN>;
        };

        combo_taipo {
            timeout-ms = <30>;
            key-positions = <BLP BRP>;
            bindings = <&tog TAI>;
        };

        #include "taipo.dtsi"
    };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    //  0   1   2   3       4   5   6   7
    //  8   9   10  11      12  13  14  15
    //          16  17      18  19
    keymap {
        compatible = "zmk,keymap";

        alpha1 {
            bindings = <
                &kp Q           &as LC(C) L     &as LC(X) G     &as LC(V) D                 &as LC(Z) H     &as LC(S) U     &as LC(Y) O     &kp SEMI
                &mt LGUI I      &mt LALT R      &mt LSHIFT S    &mt LCTL T                  &mt RCTL N      &mt RSHIFT E    &mt RALT A      &mt RGUI C
                                                &lt NAV TAB     &lt AL2 SPC                 &lt NUM BSPC    &lt FUN DEL
            >;
        };

        alpha2 {
            bindings = <
                &kp SQT         &kp V           &kp W           &kp M                       &kp F           &kp COMMA       &kp Z           &kp FSLH
                &kp BSLH        &kp J           &mt LSHIFT P    &kp K                       &kp B           &mt LSHIFT DOT  &kp X           &kp Y
                                                &trans          &trans                      &trans          &trans
            >;
        };

        num {
            bindings = <
                &kp GRAVE       &kp N1          &kp N2          &kp N3                      &kp N7          &kp N8          &kp N9          &kp N0
                &none           &kp N4          &mt LSHIFT N5   &kp N6                      &kp EQUAL       &mt LSHIFT LBKT &kp RBKT        &kp MINUS
                                                &trans          &trans                      &trans          &trans
            >;
        };

        nav {
            bindings = <
                &none           &none           &kp PG_UP        &none                      &none           &kp UP          &none           &none
                &none           &mt LALT HOME   &mt LSHIFT PG_DN &mt LCTL END               &mt RCTL LEFT   &mt RSHIFT DOWN &mt RALT RIGHT  &kp RPAR
                                                &none            &none                      &kp LPAR        &none
            >;
        };

        fun {
            bindings = <
                &kp PSCRN       &kp F1       &kp F2          &kp F3                         &kp F7           &kp F8         &kp F9          &none
                &none           &kp F4       &kp F5          &kp F6                         &kp F10          &kp F11        &kp F12         &none
                                             &none           &none                          &none            &none
            >;
        };

        taipo {
            bindings = <
                &none           &none        &none           &none                          &none            &none          &none           &none
                &none           &none        &none           &none                          &none            &none          &none           &none
                                             &none           &none                          &none            &none
            >;
        };
    };
};
