#define TCOMBO(NAME, BINDINGS, OUTER_BINDINGS, INNER_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
combo_l_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <BINDINGS>; \
    key-positions = <LEFT_KEYPOS>; \
    layers = <COMBO_LAYERS>; \
}; \
combo_li_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <INNER_BINDINGS>; \
    key-positions = <LEFT_KEYPOS LIT>; \
    layers = <COMBO_LAYERS>; \
}; \
combo_lo_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <OUTER_BINDINGS>; \
    key-positions = <LEFT_KEYPOS LOT>; \
    layers = <COMBO_LAYERS>; \
}; \
combo_lb_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <BOTH_BINDINGS>; \
    key-positions = <LEFT_KEYPOS LIT LOT>; \
    layers = <COMBO_LAYERS>; \
}; \
combo_r_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <BINDINGS>; \
    key-positions = <RIGHT_KEYPOS>; \
    layers = <COMBO_LAYERS>; \
}; \
combo_ri_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <INNER_BINDINGS>; \
    key-positions = <RIGHT_KEYPOS RIT>; \
    layers = <COMBO_LAYERS>; \
}; \
combo_ro_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <OUTER_BINDINGS>; \
    key-positions = <RIGHT_KEYPOS ROT>; \
    layers = <COMBO_LAYERS>; \
}; \
combo_rb_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <BOTH_BINDINGS>; \
    key-positions = <RIGHT_KEYPOS RIT ROT>; \
    layers = <COMBO_LAYERS>; \
};

combo_l_space { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <&kp SPACE>; \
    key-positions = <LOT>; \
    layers = <COMBO_LAYERS>; \
};

combo_r_space { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <&kp SPACE>; \
    key-positions = <ROT>; \
    layers = <COMBO_LAYERS>; \
};

combo_l_bspc { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <&kp BSPC>; \
    key-positions = <LIT>; \
    layers = <COMBO_LAYERS>; \
};

combo_r_bspc { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <&kp BSPC>; \
    key-positions = <RIT>; \
    layers = <COMBO_LAYERS>; \
};

TCOMBO(R,      &kp R,      &kp LS(R), &kp GT,     &kp PSCRN,    TLP,         TRP)
TCOMBO(S,      &kp S,      &kp LS(S), &kp RBRC,   &kp &none,    TLR,         TRR)
TCOMBO(N,      &kp N,      &kp LS(N), &kp RBKT,   &kp &none,    TLM,         TRM)
TCOMBO(I,      &kp I,      &kp LS(I), &kp RPAR,   &kp &none,    TLI,         TRI)
TCOMBO(A,      &kp A,      &kp LS(A), &kp LT,     &kp &none,    BLP,         BRP)
TCOMBO(O,      &kp O,      &kp LS(O), &kp LBRC,   &kp &none,    BLR,         BRR)
TCOMBO(T,      &kp T,      &kp LS(T), &kp LBKT,   &kp &none,    BLM,         BRM)
TCOMBO(E,      &kp E,      &kp LS(E), &kp LPAR,   &kp &none,    BLI,         BRI)
TCOMBO(C,      &kp C,      &kp LS(C), &kp N1,     &kp F1,       BLR BLI,     BRR BRI)
TCOMBO(U,      &kp U,      &kp LS(U), &kp N2,     &kp F2,       BLR BLM,     BRR BRM)
TCOMBO(Q,      &kp Q,      &kp LS(Q), &kp N3,     &kp F3,       BLP BLM,     BRP BRM)
TCOMBO(L,      &kp L,      &kp LS(L), &kp N4,     &kp F4,       BLP BLR,     BRP BRR)
TCOMBO(Y,      &kp Y,      &kp LS(Y), &kp N5,     &kp F5,       TLM TLI,     TRM TRI)
TCOMBO(F,      &kp F,      &kp LS(F), &kp N6,     &kp F6,       TLR TLI,     TRR TRI)
TCOMBO(P,      &kp P,      &kp LS(P), &kp N7,     &kp F7,       TLR TLM,     TRR TRM)
TCOMBO(Z,      &kp Z,      &kp LS(Z), &kp N8,     &kp F8,       TLP TLM,     TRP TRM)
TCOMBO(B,      &kp B,      &kp LS(B), &kp N9,     &kp F9,       TLP TLR,     TRP TRR)
TCOMBO(H,      &kp H,      &kp LS(H), &kp N0,     &kp F10,      BLM BLI,     BRM BRI)
TCOMBO(D,      &kp D,      &kp LS(D), &kp AT,     &kp F11,      BLP BLI,     BRP BRI)
TCOMBO(G,      &kp G,      &kp LS(G), &kp HASH,   &kp F12,      TLP TLI,     TRP TRI)
TCOMBO(X,      &kp X,      &kp LS(X), &kp CARET,  &kp LC(X),    TLP BLM,     TRP BRM)
TCOMBO(K,      &kp K,      &kp LS(K), &kp PLUS,   &kp LC(C),    TLI BLR,     TRI BRR)
TCOMBO(V,      &kp V,      &kp LS(V), &kp STAR,   &kp LC(V),    TLR BLI,     TRR BRI)
TCOMBO(J,      &kp J,      &kp LS(J), &kp EQUAL,  &kp LC(Z),    TLM BLP,     TRM BRP)
TCOMBO(M,      &kp M,      &kp LS(M), &kp DOLLAR, &none,        TLP BLI,     TRP BRI)
TCOMBO(W,      &kp W,      &kp LS(W), &kp AMPS,   &none,        TLI BLP,     TRI BRP)
TCOMBO(SLASH,  &kp SLASH,  &kp BSLH,  &kp PIPE,   &none,        TLR BLM,     TRR BRM)
TCOMBO(MINUS,  &kp MINUS,  &kp UNDER, &kp PRCNT,  &none,        TLM BLR,     TRM BRR)
TCOMBO(QMARK,  &kp QMARK,  &kp EXCL,  &kp CAPS,   &none,        TLI BLM,     TRI BRM)
TCOMBO(COMMA,  &kp COMMA,  &kp DOT,   &kp TILDE,  &none,        TLM BLI,     TRM BRI)
TCOMBO(SEMI,   &kp SEMI,   &kp COLON, &none,      &none,        TLP BLR,     TRP BRR)
TCOMBO(SEMI2,  &kp SEMI,   &kp COLON, &none,      &none,        BLR TLM BLI, BRR TRM BRI)
TCOMBO(SQT,    &kp SQT,    &kp DQT,   &kp GRAVE,  &none,        TLR BLP,     TRR BRP)
TCOMBO(SQT2,   &kp SQT,    &kp DQT,   &kp GRAVE,  &none,        BLR TLM TLI, BRR TRM TRI)
TCOMBO(TAB,    &kp TAB,    &kp DEL,   &kp INS,    &none,        TLR TLM TLI, TRR TRM TRI)
TCOMBO(ENTER,  &kp ENTER,  &kp ESC,   &kp LALT,   &none,        BLR BLM BLI, BRR BRM BRI)
TCOMBO(LGUI,   &sk LGUI,   &kp RIGHT, &kp END,    &none,        TLP BLP,     TRP BRP)
TCOMBO(LALT,   &sk LALT,   &kp UP,    &kp PGUP,   &none,        TLR BLR,     TRR BRR)
TCOMBO(LCTRL,  &sk LCTRL,  &kp DOWN,  &kp PGDN,   &none,        TLM BLM,     TRM BRM)
TCOMBO(LSHIFT, &sk LSHIFT, &kp LEFT,  &kp HOME,   &none,        TLI BLI,     TRI BRI)